#stopwatch-container {
  width: 100%; /* Make container full width */
  max-width: 400px; /* Set max-width to 400px */
  display: block;
  margin: auto;
  background-color: #2c303d;
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect the overall width */
}

#controls {
  display: flex; /* Use flexbox for buttons */
  justify-content: space-between; /* Distribute buttons evenly */
  gap: 10px; /* Space between buttons */
  margin-bottom: 20px;
  width: 100%; /* Make controls full width */
}

#ctrl-bttn,
#reset-bttn {
  width: 48%; /* Buttons take 48% of the container width */
  height: 40px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #33517d;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #33517d;
}

#stopwatch {
  margin: 10px;
}

canvas {
  display: block;
  margin: 20px auto; /* Center canvas and add margin for spacing */
  background-color: #2c303d;
  width: 100%; /* Make canvas full width */
  max-width: 300px; /* Set max width for canvas */
  height: aut
