#stopwatch-container{
  width: 400px;
  display: block;
  margin: auto;
  background-color: #F0F0F0;
}
/* Styling for buttons */
    #controls {
      text-align: center;
      margin-bottom: 20px;
    }
    button {
      padding: 10px 20px;
      font-size: 16px;
      margin-bottom: 20px;
      cursor: pointer;
      border-radius:20px;
    }

#ctrl-bttn{
  width: 90%;
}

#fi_727245{
  width: 15px;
}

#stopwatch{
  margin: 10px;
  /*border: none;*/

}

    /* Center canvas within the page */
    canvas {
      display: block;
      margin: auto;
      background-color: #f0f0f0;
    }
